<h1>{{title}}</h1>

<p>{{usuario.nome}} tem {{usuario.idade}} ano(s)</p>

<div>
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="usuario.nome" placeholder="Insira o nome">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>CPF</mat-label>
    <input matInput [(ngModel)]="usuario.cpf" placeholder="Insira o CPF">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Idade</mat-label>
    <input matInput [(ngModel)]="usuario.idade" placeholder="Insira a idade">
  </mat-form-field>
</div>

<button mat-raised-button color="primary" type="button" (click)="inserirUsuario()">Enviar</button><br>
<button mat-raised-button type="button" (click)="listar()">Listar</button>

  <mat-card *ngFor="let usuario of usuarios" class="mat-card-simples">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>person</mat-icon>{{usuario.nome}}</mat-card-title><mat-card-subtitle *ngIf="usuario.cpf">CPF:{{usuario.cpf}} Idade:{{usuario.idade}}</mat-card-subtitle>
      <mat-card-content>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti quibusdam impedit eius illo quasi alias, saepe quod dolorum laudantium sequi totam, velit aspernatur est omnis quas, architecto aliquam deleniti libero.</mat-card-content>
    </mat-card-header>
  </mat-card>
